
h1{
text-transform: uppercase;
/*font-family: 'Montserrat', sans-serif;*/
letter-spacing: 1.2px;

}
.header-text{
	font-size: 0.9em;
	text-transform: uppercase;
}

h2,h3.header-text{
	text-align: left;
	color: steelblue;
	/*font-family: 'Montserrat', sans-serif;*/

}
h2{
		margin-top: 2%;
		text-align: center;
}
div.head{
	width: 40%;
	margin-top: 4%;
}
#experience-section .section, #education-section .section, #project-section{
	display: grid;
	width: 80%;
}
#experience-section .section div, #education-section .section div{
	border: 0.2px solid #f3f3f3;
	padding: 20px;
}
#language-section ul li{
	float: left;
	padding: 5px;
	list-style-type: none;
}
a{
	text-decoration: none;
	color: steelblue;
}
small{
	color: #a3a3a3;
}
body{
/*font-family: 'Open Sans', sans-serif;*/
font-family: candara;
margin-left: 2%;
}
img{
	border-radius: 5px;
}
hr{

	margin-left: 0;
	height: 1px;
	border: 0;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))

}

aside a{
	padding: 4px;
}
aside a:hover{
	border: 1px solid #f3f3f3;
	background-color: steelblue;
	border-radius: 4px;
	color: white;
	padding: 5px;
}